.bg{
    height: 100vh;
    background-image: url(assests/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg h1{
    font-weight: 900;
    color:rgb(196, 52, 52);
}
.flex{
    display: flex;
    justify-content:left;
    align-items: center;
}
@media(max-width:600){
    .bg{
        width: 100%;
    }
}
.navbar ul li a{
    font-weight: 500;
}
.unlock h1{
    text-align: center;
}
.unlock img{
    width: 100%;
    height: 100%;
}
.card img{
    width: 100%;
    height: 100%;
}
.card p{
    text-align: justify;
}
.card h4{
    font-size: 20px;
}
.popular h1{
    text-align: center;
}
.Features h1{
text-align: center;
}
.Features img{
    width: 100%;
    height: 100%;
}
.bg-dark H5{
color: white;
text-align: justify;

}
.bg-dark ul li{
color: #9d9c9c;
text-align: justify;
}
.bg-dark p{
color: #9d9c9c;
text-align: justify;
}
.special h3{
    text-align: center;
}
.special {
    background-color: aliceblue;
}
.vision img{
    width: 100%;
    height: 50vh
}
.vision h1{
    font-size: 50px;
}
.choose h1{
    text-align: center;
}
.choose p{
    text-align: justify;
    line-height: 50px;
}
.gallery img,.facility img{
    width: 100%;
    height: 50vh;
}
.touch{
    padding: 20px;
}
.touch h4{
    color: black;
}
.Contact h4{
    color: black;
}
.form-control{
    height: 52px;
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
    border: 2px;
    box-sizing: none important;
    border:1px solid rgba(0,0,0,0.1);
}
.form-label{
    color: #fff;
}
.bi{
    font-size: 20px;
}
.d-flex p{
    font-size: 18px;
    padding-left: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.student h1{
    text-align: center;
    font-size: 30px;
}
